body {
    font-family: "Montserrat", sans-serif;
}

.bg-calip1 {
    background-color: #249ca8;
}

main {
    background-color: black;
}

h1 {
    color: white;
}

i {
    color: white;
    background-color: #249ca8;
}

#destacados {
    background-color: black;
}

#cardsection {
    background-color: black;
}

#cardbody {
    background-color: #249ca8;
}

#contacto {
    background-color: black;
}

form {
    background-color: black;
}

footer {
    background-color: #249ca8;
}