body {
    font-family: "Montserrat", sans-serif;
}

.bg-calip1 {
    background-color: #249ca8;
}

main {
    background-color: black;
}

h1 {
    color: white;
}

i {
    color: white;
    background-color: #249ca8;
}